// search section
.searchSection {
  width: 100%;
  background: url("/public/assets/searchSecImg.png"), #2c2d38;
  background-size: cover;
  background-repeat: no-repeat;

  .wrapper {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .logoContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 28px;
      img {
      }
      h1 {
        font-family: "Libre Baskerville", serif;
        font-size: 34px;
        color: white;
      }
      p {
        font-family: "Libre Baskerville", serif;
        font-size: 16px;
        color: white;
      }
    }

  }
}
